h1 {
    background: red;
}

.p1 {
    background: blue;
    font-size: 32pt;
    color: green;
}

.p2 {
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24pt;
    margin-bottom: 60px;
    padding-left: 40px;
}

.p3 {
    font-weight: 900;
    font-size: 20px;
    font-family: 'Courier New';
    text-shadow: 1px 1px 2px green;
}

.p4 {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
